
body {
    background-color: #1c1c1c; /* Dark background color */
    background-image: url("https://f.i.uol.com.br/fotografia/2021/05/14/1620992690609e62b28bf76_1620992690_3x2_rt.jpg")
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #edf7d6ce; /* Text color for better visibility */
  }
